<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mysite.project.mapper.USResumeMapper">

  <!-- INSERT -->
  <insert id="insertUSR" parameterType="com.mysite.project.vo.USResumeVO">
    INSERT INTO us_resume
      (user_id, user_nm, user_js, user_bd, user_gen, user_email, user_tel, user_jg, user_job, user_skill, user_ws, user_wt, user_pay, user_career, user_orfile,user_stfile, user_github,user_intro)
    VALUES
      (#{user_id}, #{user_nm}, #{user_js}, #{user_bd}, #{user_gen}, #{user_email}, #{user_tel}, #{user_jg}, #{user_job}, #{user_skill}, #{user_ws}, #{user_wt}, #{user_pay}, #{user_career}, #{user_orfile},#{user_stfile}, #{user_github}, #{user_intro})
  </insert>

  <!-- SELECT -->
  <select id="getUSR" resultType="com.mysite.project.vo.USResumeVO">
    SELECT * FROM us_resume WHERE user_id = #{user_id}
  </select>
  
  <!-- SELECT -->
  <select id="usjgCount" parameterType="com.mysite.project.vo.USResumeVO">
    SELECT count(*) FROM us_resume WHERE user_jg = #{user_jg}
  </select>

<select id="USRList" resultType="com.mysite.project.vo.USResumeVO">
    SELECT *
    FROM us_resume
    <where>
      <if test="user_jg != ''">
        AND user_jg = #{user_jg}
      </if>
      <choose>
        <when test="user_career == 3">
          AND user_career &lt;= 3
        </when>
        <when test="user_career == 6">
          AND user_career BETWEEN 3 AND 6
        </when>
        <when test="user_career == 10">
          AND user_career BETWEEN 6 AND 10
        </when>
        <when test="user_career == 11">
          AND user_career &gt;= 12
        </when>
      </choose>
      <if test="user_ws != ''">
        AND (user_ws = #{user_ws} or user_ws = "상관없음")
      </if>
      <if test="user_wt != ''">
        AND (user_wt = #{user_ws} or user_wt = "상관없음")
      </if>
      <if test="user_js != ''">
        AND (user_js = #{user_js} )
      </if>
      <if test="user_nm != ''">
        AND user_nm LIKE CONCAT('%', #{user_nm}, '%')
      </if>
      <if test="user_job != ''">
        AND user_job LIKE CONCAT('%', #{user_job}, '%')
      </if>
      <if test="user_skill != ''">
        AND user_skill LIKE CONCAT('%', #{user_skill}, '%')
      </if>
    </where>
</select>

<select id="USRTag" resultType="com.mysite.project.vo.USResumeVO">
    SELECT *
    FROM us_resume
    <where>
      <if test="user_jg != ''">
        AND user_jg = #{user_jg}
      </if>
      <if test="user_job != ''">
          AND user_job LIKE CONCAT('%', #{user_job}, '%')
       </if>
	  <if test="user_career != 0 and user_career != ''">
 		 AND user_career >= #{user_career}
	  </if>
      <if test="user_ws != '' and user_ws != '상관없음'">
  		AND user_ws = #{user_ws}
	  </if>
	  <if test="user_wt != '' and user_wt != '상관없음'">
  		AND user_wt = #{user_wt}
	  </if>
	  <if test="user_js != '' and user_js != '상관없음'">
  		AND user_js = #{user_js}
	  </if>
      <if test="user_skill != '[]'">
        AND user_skill LIKE CONCAT('%', #{user_skill}, '%')
      </if>
	  <if test="user_pay != 0 and user_pay != ''">
  		AND user_pay &lt;= #{user_pay}
	  </if>
    </where>
</select>
  <!-- UPDATE -->
  <update id="updateUSR" parameterType="com.mysite.project.vo.USResumeVO">
    UPDATE us_resume SET
      user_nm = #{user_nm},
      user_js = #{user_js},
      user_bd = #{user_bd},
      user_gen = #{user_gen},
      user_email = #{user_email},
      user_tel = #{user_tel},
      user_jg = #{user_jg},
      user_job = #{user_job},
      user_skill = #{user_skill},
      user_ws = #{user_ws},
      user_wt = #{user_wt},
      user_pay = #{user_pay},
      user_career=#{user_career},
      user_orfile=#{user_orfile},
      user_stfile=#{user_stfile},
      user_github=#{user_github},
      user_intro=#{user_intro}
     WHERE user_id=#{user_id}
	</update>
	 <delete id="deleteUSR" parameterType="com.mysite.project.vo.USResumeVO">
        DELETE FROM us_resume
        WHERE user_id = #{user_id}
    </delete>
</mapper>